.page-header {
  border-bottom: 1px solid #eeeeee;
}
header {
  background-color: #ffffff;
}
ul {
  list-style: none;
}
.container.head {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}
.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 1.16;
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.nav-panel > .logo {
  margin-right: 93px;
}
.logo__web {
  color: $accented-text-color;
}
.logo__studio {
  color: #000000;
}
