.project {
  margin: -15px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}
.project__item {
  margin: 15px;
  background: #ffffff;
  @media screen and (min-width: $tablet) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 3);
    background: #ffffff;
  }
}
.project__info {
  flex-grow: 1;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.project__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $basic-text-color;
}
.project__product {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
.project__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: box-shadow $basic-transition;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .project__meta,
  &:focus .project__meta {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
}
.project__card {
  position: relative;
  overflow: hidden;
}
.project__meta {
  position: absolute;
  padding: 83px 24px 71px;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform $basic-transition, opacity $basic-transition;
  @media screen and (max-width: 479px) {
    padding: 20px 17px;
    font-size: calc((100vw - 320px) / (480 - 320) * (18 - 15) + 15px);
  }
  @media screen and (min-width: $tablet) {
    padding: 71px 24px 55px;
  }
  @media screen and (min-width: $desktop) {
    padding: 63px 24px;
  }
}
